<VirtualHost *:80>

	ServerAdmin webmaster@localhost

	Alias /Microsoft-Server-ActiveSync /var/www/html/index.php
	AliasMatch (?i)/Autodiscover/Autodiscover.xml "/var/www/html/autodiscover/autodiscover.php"

	DocumentRoot /var/www/html
	<Directory /var/www/html/>
		Options Indexes FollowSymLinks MultiViews
		AllowOverride All
		Order allow,deny
		allow from all
	</Directory>
	
	PHPINIDir /home/conf/

	LogLevel error
	ErrorLog /home/logs/error.log
	CustomLog /home/logs/access.log combined

</VirtualHost>
